* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #a6acb8;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #141a2a;
}
